body {
    visibility: hidden;
    margin: 0;
}

sample-container {
    border: solid black 1px;
    display: block;
    width: 200px;
    height: 200px;
}

quantum-context {
    background-color:  white;
    box-sizing: border-box;
    box-shadow: 2px 3px 4px -1px grey;
    border: solid black 1px;
    transition: visibility 0.1s, opacity 0.1s;
}

div {
    cursor: pointer;
    padding: 0.7em 1em;
}

div:hover {
    background-color: lightgrey;
}